APP_NAME="HMS - {{SLUG}}"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://{{DOMAIN}}

DB_CONNECTION=pgsql
DB_HOST=postgres_{{SLUG}}
DB_PORT=5432
DB_DATABASE={{DB_NAME}}
DB_USERNAME={{DB_USER}}
DB_PASSWORD={{DB_PASS}}

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync